#carouselExample{
    height: 100%;
}
div.carousel-item>img{
    /*height:960px;*/
    height: 100%;
    width: 100%;
}
#reg-btn{
    position:absolute !important;
    left:100px !important;
}
.header .carousel-item{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-position: inherit;
}
@media only screen and (max-device-width: 480px) {
    .header{
        height: 240px;
    }
    div.carousel-item>img{
            width: 100%;
            height: 100%;
    }
	}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .header{
        height: 430px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
    .header{
        height: 180px;
    }
}
.main-nav.transparent {
    opacity: 0.5;
}
.has-error {
    border: 1px solid red;
}
.modal {
    width: 600px;
    position: fixed;
    left: 50%;
    padding: 20px !important;
    top: 15%;
    margin-left: -300px;
    background: #fff;
    box-sizing: border-box;
    z-index: 99999;
    border: 8px solid #fff;
}
.carousel-caption{
    bottom: 0;
    top: 30%
}
.btn-mod{
     margin: 5px;
}
.btn-facebook {
    background-color: #3B5998;
    margin-bottom: 10px
}

.btn-facebook>i {
    font-size: 20px;
}
.btn-banner{
    min-width: 180px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
    .shop-detail{
        margin-top: -40px;
    }
}

h2 {
    text-align: center ;
    font-size: 18px;
    font-weight: 700;
    color: #2a3f74;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.flag-box {
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 17px;
    cursor: pointer;
}

.language-popup .flag-box img {
}

.flag-box span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #363636;
    line-height: 16px;
    margin-top: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}
 .modals{
    position: fixed !important;
    left: 60% !important;
    top: 26% !important;
    border-radius: 20px;
    width: 300px !important;
    height: 180px !important;
    padding-top: 2px;
    /* display: none; */
    /* visibility: hidden; */
 } 
 .language-popup{
     margin-top: -30px;
 }

 input[type=text],input[type=email], textarea {
    width: 100%;
    height: 38px;
    border: 0;
    background: none;
    border: 1px solid #c4c4c4;
    font-size: 12px;
    padding: 0 16px;
    outline: none;
    color: #676767;
    letter-spacing: 1px;
    text-align: center;
}
::placeholder{
    color: gray;
}

.field textarea {
    height: 100px;
    resize: none;
    padding: 10px 17px;
}
h4 {
    text-align: left ;
    font-size: 25px;
    font-weight: 700;
    color: #193783;
    text-transform: uppercase;
    letter-spacing: 3px;
}
button{
    border-radius: 20px;
    text-align: center;
    margin-left: 60px;
    width: 260px;
    height: 40px;
    background-color: #052f81;
    color: white; 
    
}

#submit_btn{
    margin-left: 150px;
}
