<!-- Head Section -->
<app-spinner></app-spinner>

<div class="heading_caption">
    <div class="container">

        <div class="row">
            <h2>FAQ</h2>
        </div>

    </div>
</div>


<div class="content_caption">
    <div class="container">
        <div class="row">

            <h4 class="font-alt">Q. How can I see the products on your website?</h4>
            <p>
                We do not have any products listed on our website. You have to visit any brand’s website (ZARA, Ralph Lauren etc) and come
                to Two H to place the order. To learn the process, please see
                <a routerLink="/home" fragment="services" class="fragment">"How It Works"</a>
            </p>

            <hr class="mb-30" />

            <h4 class="font-alt">Q. How do I know the pricing?
            </h4>
            <p>
                Please click on
                <a routerLink="/buyNowuk">Order Now</a>
                and follow the process. You will be given a price breakup of your product along with shipping charges and other charges in
                PKR.
            </p>

            <hr class="mb-30" />

            <h4 class="font-alt">
                Q. I want to buy a shirt from Ralph Lauren. How do I place my order?
            </h4>
            <p>
                Please click on
                <a routerLink="/buyNowuk">Order Now</a>
                and follow the process. To learn the process, please see
                <a routerLink="/home" fragment="services" class="fragment">"How It Works"</a>
                .

            </p>

            <hr class="mb-30" />

            <h4 class="font-alt">Q. Do you offer Cash on Delivery?
            </h4>
            <p>

                Yes, we offer cash on delivery. However, to confirm your order, all customers are required to pay the security deposit. Your
                order is not placed until we’ve received your security deposit. Your COD amount is the total order value
                minus the security deposit. Maximum COD is PKR 30,000.
            </p>

            <hr class="mb-30" />

            <h4 class="font-alt">Q. Can I get 100% Cash on Delivery?</h4>
            <p>
                No. We require security deposit to confirm the order. The remaining amount is charged as Cash on Delivery. Maximum COD amount
                is PKR 30,000.
            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. How do I pay security deposit?
            </h4>
            <p>
                Security deposit can be paid via bank transfer or EasyPaisa. We prefer bank transfer if you want your order to be placed
                immediately.
            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. What is the delivery time?
            </h4>
            <p>
                Our delivery time is between 25 to 30 days (17-20 business days). In most cases, orders are delivered before this time, however,
                your order may take longer if the brand dispatches it to our warehouse later than the usual lead time.

            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. Why is the delivery time so long?
            </h4>
            <p>
                Most brands take 7 to 10 days to dispatch products to our warehouse in United States. After that, it takes 2 days for the
                paperwork in the United States and your products are shipped to Pakistan in the next flight via air cargo.
                .
            </p>
            <p>Transit from USA to Pakistan takes 2 days and another 2 business days for customs clearance. Once we receive
                your products in our Karachi warehouse, we dispatch your products the next business day. Local courier takes
                2-4 business days depending where you are located in Pakistan.
            </p>
            <p>Please note that some brands may take longer than 7 to 10 days to ship the products, in which case the total
                shipping time is longer than the committed time.
            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. I paid the security deposit and my products have run out of stock, what should I do?</h4>
            <p>
                We will issue you a cash voucher to use that security deposit for your next order.

            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. Can you expedite the delivery of my order?</h4>
            <p>
                Unfortunately, that is not possible given that the brands take 7 to 10 days to ship to our warehouse. You could possibly
                reduce the delivery time by a couple of days if you ask us to choose expedited shipping from the brand for
                an extra amount.
                <a href="mailto:contact@twohonlinestore.com">Contact us</a>
                if you want to avail this.

            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. I want to start my own business and want Two H to become my supplier, what should I do?
            </h4>
            <p>

                Interested in importing from international brands in Pakistan? We help businesses import from United States and United Kingdom
                to Pakistan. Minimum weight to be imported is 10KGs.

            </p>
            <p>Please click here [HYPERLINK TO FOR BUSINESS PAGE] for more information.
            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. What is the return/exchange policy?
            </h4>
            <p>
                We do not accept any returns or offer exchange. As we are just a service provider, customers are responsible to inform us
                their correct sizes and colors of the products as no returns can be accepted.
            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. I want to cancel my order, what should I do?
            </h4>
            <p>
                Once we place the orders with the brands, they cannot be cancelled.

            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. I placed the order on your website but haven’t paid the security deposit. Is my order placed?
            </h4>
            <p>
                Your orders are not placed until we receive the security deposit.

            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. Can I change my delivery date if I am traveling?
            </h4>
            <p>
                Please
                <a href="mailto:contact@twohonlinestore.com">Contact us</a>
                if you want to change your delivery date. Please note that we can only hold your products in our warehouse for two weeks
                after they have arrived in our Karachi warehouse.

            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. What brands can I shop from?

            </h4>
            <p>
                You can shop from almost all the brands. There are however a few brands that do not ship to our warehouse, like Hollister.
                But you can always buy from American Eagle!

            </p>
            <hr class="mb-30" />

            <h4 class="font-alt">Q. Can we import cell phones?

            </h4>
            <p>
                We do not import cell phones due to PTA regulations but you can import other electronic gadgets. Please feel free to contact
                us via our chat or email to confirm what you can buy from us.
            </p>

        </div>
    </div>
</div>