<app-spinner></app-spinner>

<div class="heading_caption">
    <div class="container">

        <div class="row">
            <h2>About US</h2>
        </div>

    </div>
</div>

<div class="content_caption">
    <div class="container">

        <div class="content">
            <p>
                Welcome to the official website of Two H Online Store. We deliver all your favorite international brands to Pakistan without
                the hassle of international payment, customs clearance and international shipping. Pick the products you
                want and let us handle the rest.

            </p>
            <div>
                <a target="_blank" href="https://facebook.com/twohonlinestore/">
                    <i class="fa fa-facebook"></i>
                </a>
                <a target="_blank" href="https://twitter.com/twohonlinestore">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="javascript:;">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/twohonlinestore/">
                    <i class="fa fa-instagram"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCoN6tgfeqOjg0Oz_cHO_q6w?view_as=subscriber">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
            <hr class="mb-30">

            <h3>Our Story
            </h3>
            <p>
                The story of Two H began when we realized how difficult it is to order from International brands like H&M, Forever 21 and
                Sephora in Pakistan. With the mission to make hassle free imports from USA to Pakistan, Two H Online Store
                launched with a Facebook Page in 2015. The sole purpose was to enable people to order and ship their favorite
                international brands from USA to Pakistan.

            </p>
            <p>
                Starting off with a social media presence, Team Two H decided to make things even easier for customers across Pakistan.
            </p>
            <hr class="mb-30">

            <h3>Our Platform
            </h3>
            <p>
                Two H Online Store is a now a web platform that lets you order from international brands in United States as well as United
                Kingdom, bringing you closer to your favorite products. From apparel to accessories, and cosmetics to health
                care, Two H will be there to order whatever you need and provide easy shipping to Pakistan from USA and UK.

            </p>
            <p>
                Do you have a wish list waiting in your Forever 21 or Ralph Lauren cart? All you have to do is understand the simple process
                of How it Works (Add How it Works hyperlink), and let us handle the rest. Your dream International brands
                are literally a few clicks away!

            </p>
            <p>
                Black Friday, Boxing Day, and other sales were never so easy to avail. Once you subscribe to our offers, our team makes sure
                that you don’t miss out on the most amazing SALES and OFFERS! Just like our
                <a target="_blank" class="hl" href="https://facebook.com/twohonlinestore/">
                    Facebook page</a>, and send us a message to get the most exciting updates on new Collections and offers
                from all your favorite brands
            </p>
            <hr class="mb-30">

            <h3>For Businesses
            </h3>
            <p>Two H Online Store also supplies international products to businesses across Pakistan. Do you want to know how
                your business can benefit from Two H? Click here. (Add Business Page hyperlink)
            </p>
            <h3>Contact us
            </h3>
            <p>
                For any more information, you can contact us by sending an email on our official email address
                <a class="hl" target="_blank" href="mailto:contact@twohonlinestore.com">contact@twohonlinestore.com
                </a>
            </p>
        </div>
    </div>
</div>