<!-- <section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="images/full-width-images/section-bg-3.jpg"
    id="reviews" (click)="closeMenu()">


    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" data-interval="10000">
        <!--<ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
  </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item " *ngFor="let review of reviews;let i=index" [class.active]="i==0">
                <!--<img class="d-block img-fluid" src="..." alt="First slide">
                <div class="container relative">
                    <div class="row">
                        <div class="review-col col-md-12 align-center">
                            <a href="{{review.link}}" target="_blank">
                            <div class="section-icon">
                                <!--<span class="icon-quote"></span>
                                <img src="{{review.profile_pic}}" alt="" class="review-img img-circle">
                            </div>
                            <h3 class="small-title font-alt">{{review.name}}</h3>
                            <blockquote class="testimonial white">
                                <p>
                                    {{review.review}}
                                </p>
                                <!--<footer class="testimonial-author">
                                    {{review.name}}
                                </footer>
                            </blockquote>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            <!--<div class="owl-prev"><i class="fa fa-angle-left"></i></div>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
            <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            <!--<div class="owl-next"><i class="fa fa-angle-right"></i></div>
        </a>
    </div>
    </section> -->
<!-- <div class="carousel-item " *ngFor="let review of reviews;let i=index" [class.active]="i==0">
            <!--<img class="d-block img-fluid" src="..." alt="First slide">
            <div class="container relative">
                <div class="row">
                    <div class="review-col col-md-12 align-center">
                        <a href="{{review.link}}" target="_blank">
                        <div class="section-icon">
                            <!--<span class="icon-quote"></span>
                            <img src="{{review.profile_pic}}" alt="" class="review-img img-circle">
                        </div>
                        <h3 class="small-title font-alt">{{review.name}}</h3>
                        <blockquote class="testimonial white">
                            <p>
                                {{review.review}}
                            </p>
                            <!--<footer class="testimonial-author">
                                {{review.name}}
                            </footer>
                        </blockquote>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->

<div class="testimonial_sec wow fadeInDown">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="howitwork_caption">
                    <h2 id='test'>testimonials</h2>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- <div class="testimonial_slider"> -->

            <!-- <div class="testimonial_slider"  *ngFor="let review of reviews;let i=index" > -->

            <!-- <div class="item">
                            <div class="testi_box">
                                <p>{{review.review}}</p>
                                <div class="author_sec">
                                    <img src="{{review.profile_pic}}" alt="" target="_blank"/>
                                    <h2><a href="{{review.link}}">{{review.name}}</a></h2>
                                    <span>Designation</span>
                                </div>
                            </div>
                        </div> -->
            <div class="col-md-4">
                <p>
                    Loved ordering with Two H Shipping. The response time for all of my queries was very quick! Had no issues at any step. It's
                    convenient and they give you super customer service! Will definitely order again. :)
                </p>
                <div class="author_sec">
                    <img src="../../assets/images/Marium.jpg" alt="" target="_blank" />
                    <h5>
                        <a>Marium Hashmi

                        </a>
                    </h5>
                    <span>Designation</span>
                </div>
            </div>
            <div>

                <div class="col-md-4">
                    <p>
                        Just received my pair of Armani jeans. The packaging and the product was sealed with Armani's chop. And the product itself
                        is so amazing that you'll want to lick it! Two H, thank you for your top-notch service and the flexible
                        payment options. Would definitely recommend this platform to anyone wanting to import from the States.
                    </p>
                    <div class="author_sec">
                        <img src="../../assets/images/Ahmed.jpg" alt="" target="_blank" />
                        <h5>
                            <a>Ahmed I Mehanti
                            </a>
                        </h5>
                        <span>Designation</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>
                        Loved the service and prompt replies I receive from them whenever I have any queries. I received my items in the time frame
                        they said in the beginning and loved each and every one of my items. I order two shirts and a leather
                        jacket from Forever 21, and they all fit perfectly!
                    </p>
                    <div class="author_sec">
                        <img src="../../assets/images/Areesha.jpg" alt="" target="_blank" />
                        <h5>
                            <a>Areesha Moazzam
                            </a>
                        </h5>
                        <span>Designation</span>
                    </div>
                </div>
            </div>


            <!-- </div> -->
        </div>
        <div class="row">
            <!-- <div class="testimonial_slider"> -->

            <!-- <div class="testimonial_slider"  *ngFor="let review of reviews;let i=index" > -->

            <!-- <div class="item">
                                <div class="testi_box">
                                    <p>{{review.review}}</p>
                                    <div class="author_sec">
                                        <img src="{{review.profile_pic}}" alt="" target="_blank"/>
                                        <h2><a href="{{review.link}}">{{review.name}}</a></h2>
                                        <span>Designation</span>
                                    </div>
                                </div>
                            </div> -->
            <div>
                <div class="col-md-4">
                    <p>
                        Totally loved ordering clothes for my little one from this page. Highly impressed with their professionalism. They were very
                        prompt at replying to my queries. Most importantly got my parcel on exact date as promised. Little
                        expensive but worth it. Thank you and all the very best
                    </p>
                    <div class="author_sec">
                        <img src="../../assets/images/Sarah.jpg" alt="" target="_blank" />
                        <h5>
                            <a>Sarah Tiwana
                            </a>
                        </h5>
                        <span>Designation</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>

                        I dont generally review online stores(who does) but i figured i would give this a shout out as one of the few places online
                        where you get acknowledged promptly about your order-a good customer service.

                    </p>
                    <div class="author_sec">
                        <img src="../../assets/images/Haroon.jpg" alt="" target="_blank" />
                        <h5>
                            <a>Haroon Kasi

                            </a>
                        </h5>
                        <span>Designation</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>
                        Im super pleased with their services! The best page I've ever come across. My order delivery was quick and the way they deal
                        with their customers is highly commendable! They've gained a lifetime customer here. Thank you!!
                        :)

                    </p>
                    <div class="author_sec">
                        <img src="../../assets/images/Hoorish.jpg" alt="" target="_blank" />
                        <h5>
                            <a>Hoorish J, Khattak
                            </a>
                        </h5>
                        <span>Designation</span>
                    </div>
                </div>




            </div>


            <!-- </div> -->
        </div>

    </div>
</div>